.container{
    background-color: grey;
    padding-left: 15px;
    padding-right: 15px;
    height:1600px;
    width: 1299px;
 
   
}

.box1{
  
    width: 472px;
   height: 120px;
   font-weight:bold;
   font-style: italic;
   border: 8px solid red;
   background-color: white;
   text-align: center;
   position: relative;
   top:20px;
   left:322px;
   font-size: 24px;
   color: maroon;
   border-radius: 20px;
   box-shadow: 8px 8px purple;
   text-shadow: 1.8px 1.8px 2px purple ;
   padding: 10px 0px 10px 0px;
   line-height: 1.8;


}
.r1{
     background-color: white;
     color:grey;
     
}

.r2{
    background-color:grey;
    color: white;
    padding-bottom: 0px;
}

.c{
    border: 10px solid  green;
    height: 684px;
    width: 1282px;
    margin-top: 8px;
    
}

.c1{
    border: 8px solid red;
    background-color: white;
    width: 250px;
    height: 240px;
    border-radius: 20px;
    box-shadow: 8px 8px purple;
    text-align: center;
    font-size: 25px;
    padding-top:10px;
    float: left;
    font-size: 26px;
    font-weight: bold;
    color: rgb(35, 13, 13);
    text-shadow: 1.8px 1.8px 2px  purple ;
    line-height: 1.6;
}

.c2{
    border: 8px solid red;
    background-color: white;
    width: 250px;
    height: 250px;
    border-radius: 20px;
    box-shadow: 8px 8px purple;
    text-align: center;
    font-size: 25px;
    padding-top:10px;
    margin-right: 70px;
    position: absolute;
    left: 73%;
    
}



.bimage{
    box-shadow: -3px 3px black;
    width: 223px;
    height: 135px;
    padding-top: 25px;
}

.c3{
    border: 8px solid red;
    background-color: white;
    width: 250px;
    height: 240px;
    border-radius: 20px;
    box-shadow: 8px 8px purple;
    font-size: 26px;
    font-weight: bold;
    color: rgb(35, 13, 13);
    text-shadow: 1.8px 1.8px 2px  purple ;
    padding-top:30px;
    position: absolute;
    top: 91%;
}

.c4{
    border: 8px solid red;
    background-color: white;
    width: 269px;
    height: 289px;
    border-radius: 20px;
    box-shadow: 8px 8px purple;
    text-align: center;
    font-size: 25px;
    padding-top:10px;
    position: absolute;
    left: 72%;
    top: 92%;
    font-size: 26px;
    font-weight: bold;
    color: rgb(35, 13, 13);
    text-shadow: 1.8px 1.8px 2px  purple ;
    padding-top: 21px;
    box-sizing: border-box;
}

.submit{
    background-color: red;
    border-radius: 10px;
    width: 90px;
}
.rateus{
    text-align: center;
    width: 111px;
}

.fourth{
    font-size: 15px;
    padding: 15px;
}



.down{
    background-color: yellowgreen;
    border: 8px solid red;
    box-shadow: 8px 8px purple;
    width: 455px;
    height: 80px;
    border-radius: 20px;
    position: fixed;
    top:73%;
    left:27%;
    color: rgb(131, 22, 22);
}
.dn1{
    width: 260px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    float: left;
    padding-top: 0px;
    padding-left: 20px;
    font-style: italic;
    
    
}
.dn2{
    width: 165px;
    font-size: 18px;
    text-align: center;
    float: right;
    padding-top: 4px;
    font-weight: bold;
    font-style: italic;
}

.fix{
    border: 8px solid purple;
    text-align: center;
    background-color: green;
    width: 717px;
    height: 622px;
    align-content: center;
    position: absolute;
    left: 20%;
    margin-top: 26px;
}


.fruits{
    border: 2px solid grey;
    background-color: rgb(255, 255, 130);
    text-align: center;
    width: 350px;
    height: 244px;
    float: left;
    font-style: italic;
    margin-top: 1px;
    margin-left: 3px;
    padding-top: 15px;
    padding-bottom: 5px;

}
.items{
     border: 2px solid grey;
    background-color: rgb(255, 255, 130);
    text-align: center;
    width: 721px;
    height: 244px;
    float: left;
    font-style: italic;
    margin-top: 13px;
    margin-left: 3px;
    padding-top: 10px;
    
   
    
}

.l1{
    font-size: small;
    font-weight: bold;
}

.fruits hr{
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
}
 .items hr{
    margin-left: 5px;
    margin-right: 5px;
 }
 b{
    font-size: 25px;
}

